<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style> *{
    margin: 0;padding: 0; box-sizing: border-box;
    color: #06f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
background-color: black;
}
</style>
<body>
   <div class="main">
    <h1>Number of words : {{amount}}</h1>
   </div>
</body>
</html>